.page-layout__viewport {
  // padding-top: 4rem;
}

a a:hover, a:active, a:focus {
  outline: 0;
}

button:focus {
  outline:0;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
